@font-face {
  font-family: "Antonio";
  src: url("./fonts/Antonio.ttf");
}
@font-face {
  font-family: "Spartan";
  src: url("./fonts/Spartan-Regular.ttf");
}
@font-face {
  font-family: "Spartan-Bold";
  src: url("./fonts/Spartan-Bold.ttf");
}
