.btn-containers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.btn-containers > a > button {
	display: flex;
	align-items: center;
	width: 17.5625rem;
	height: 2.5rem;
	border: 1px solid hsla(0, 0%, 100%, 0.2);
	padding: 0 1.75rem;
	cursor: pointer;
	background-color: transparent;
	outline: none;
}

.btn-num {
	background-color: transparent !important;
	color: hsla(0, 0%, 100%, 0.5) !important;
}
.btn-title {
	background-color: transparent;
	margin-left: 1.75rem;
}
a {
	text-decoration: none;
}
/*------------- Mobile Styles -------------*/
@media (max-width: 420px) {
	.btn-containers {
		flex-direction: row;
		justify-content: center;
		position: absolute;
		top: 4.3125rem;
		left: 0;
		border-bottom: 1px hsla(0, 0%, 100%, 0.2) solid;
		gap: 3rem;
		width: 100vw;
		padding: 0 1.5rem;
	}
	.btn-containers > a > button {
		height: 3.12rem;
		width: auto;
		border: none;
		padding: 0;
	}

	.btn-title {
		margin-left: 0;
	}
}
/*------------- Tablet Styles -------------*/
@media (min-width: 420px) {
	.btn-containers > a > button:hover {
		background-color: hsla(0, 0%, 100%, 0.2);
		border: none;
	}
}
/*------------- Desktop Styles -------------*/
@media (min-width: 1024px) {
	.btn-containers > a > button {
		width: 21.875rem;
		height: 3rem;
	}
	.btn-containers > a > button:hover {
		background-color: hsla(0, 0%, 100%, 0.2);
		border: none;
	}
}
