@import "./App.css";

#source {
  display: flex;
  align-items: center;
}
#source-text,
a {
  color: hsla(0, 0%, 100%, 0.5);
}
#source-text > a {
  font-weight: bold;
  text-decoration: underline;
}

#source > img {
  height: 0.75rem;
  width: 0.75rem;
  margin-left: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  width: 21.875rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}
#btn-num {
  color: hsla(0, 0%, 100%, 0.5);
}
#btn-title {
  margin-left: 1.75rem;
}
