@import "./App.css";

.main-container {
  display: flex;
  padding: 0 10.31rem;
  gap: 18rem;
  margin-top: 7.88rem;
  justify-content: center;
}
.img-container {
  display: flex;
  align-items: center;
}
.info-container {
  width: 21.875rem;
}
.info-container > h1 {
  margin-bottom: 1.44rem;
}
.info-container > p {
  margin-bottom: 1.5rem;
}

#source {
  display: flex;
  align-items: center;
  margin-bottom: 2.44rem;
}
#source-text,
a {
  color: hsla(0, 0%, 100%, 0.5);
}
#source-text > a {
  font-weight: bold;
  text-decoration: underline;
}

#source > img {
  height: 0.75rem;
  width: 0.75rem;
  margin-left: 0.5rem;
}
